main {
	margin: auto auto;
}
.container {
	display: flex;
	flex-direction: column;
}
.box-rows {
	display: flex;
	flex-direction: row;
}
.box {
	height: 120px;
	width: 120px;
	border: 1px solid;
	background-color: white;
}
